@import "tailwindcss";

@font-face {
  font-family: 'RocketPop';
  src: url('/fonts/rocketpop.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'RocketPop', sans-serif; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
